[package]
name = "bridgetree"
version = "0.2.1"
authors = [
    "Kris Nuttycombe <kris@nutty.land>",
    "Sean Bowe <ewillbefull@gmail.com>",
]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "A space-efficient Merkle tree with witnessing of marked leaves, checkpointing & state restoration."
homepage = "https://github.com/zcash/bridgetree"
repository = "https://github.com/zcash/bridgetree"
categories = ["algorithms", "data-structures"]

[dependencies]
serde = { version = "1", features = ["derive"] }
proptest = { version = "1.0.0", optional = true }

[dev-dependencies]
proptest = "1.0.0"

[features]
test-dependencies = ["proptest"]
